$accentColor = #f47983
.content__default code
  padding-left: 3px;
  padding-right: 3px;
  color: #c7254e;
  background: #f9f2f4
  
.content__default p a {
  color:$accentColor
}
.home-blog .home-blog-wrapper .info-wrapper
  margin-top: -330px;
  margin-right: -100px;
  position: sticky;
  top: 70px;

.home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item
  margin-bottom: .4rem;
  padding: .4rem .8rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 0px;
  background-color: #fff;
  border:none
.home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item:hover
  transform: scale(1.04);
  background: #fff